{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Patient Info</a>		  		  
            </div>
			<h2><a class="article-title" href="{{ url_for('patient_home') }}">View Patients</a></h2>
          </div>
        </article>
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Laboratory Info</a>		  		  
            </div>
			<h2><a class="article-title" href="{{ url_for('lab_home') }}">View Laboratories</a></h2>
          </div>
        </article>
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Test Info</a>		  		  
            </div>
			<h2><a class="article-title" href="{{ url_for('test_home') }}">View Tests</a></h2>
          </div>
        </article>
{% endblock content %}